.red-text {
    color: #a51f2f;
}

.white-text {
    color: #ffffff;
}

.navbar-custom {
    background-color: #a51f2f;
}


.navbar-nav{
  padding: 20px 30px;
}

.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .7);
}



.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.bg-red {
    background-color: #a51f2fec;
    color: #ffffff;
}

.bg-white {
    background-color: #ffffff;
}

body {
    background-color: #ffffff;
}